[Unit]
Description=node.js www boilerplate

[Service]
Type=simple
ExecStart=/usr/local/bin/node /home/%i/node-www-boilerplate/www.js --log /home/%i/node-www-boilerplate/logs/www.log

User=%i
Group=%i

[Install]
WantedBy=multi-user.target