<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/ico/favicon.ico">
  <link href="/css/node-www-boilerplate.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. -->
  <!--[if lt IE 9]>
  <script src="/js/vendor/bootstrap/html5shiv.js"></script>
  <script src="/js/vendor/bootstrap/respond.js"></script>
  <![endif]-->
  <title>{{title}}</title>
</head>
<body>

<a href="https://github.com/rkhmelichek/node-www-boilerplate">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>

<div class="container">
  {% block content %}{% endblock %}
</div>

<div class="boilerplate-theme-footer">
  node.js www boilerplate by <a href="http://romankh.me">Roman K.</a>
</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/bootstrap/affix.js"></script>
<script src="/js/vendor/bootstrap/alert.js"></script>
<script src="/js/vendor/bootstrap/button.js"></script>
<script src="/js/vendor/bootstrap/carousel.js"></script>
<script src="/js/vendor/bootstrap/collapse.js"></script>
<script src="/js/vendor/bootstrap/dropdown.js"></script>
<script src="/js/vendor/bootstrap/modal.js"></script>
<script src="/js/vendor/bootstrap/popover.js"></script>
<script src="/js/vendor/bootstrap/scrollspy.js"></script>
<script src="/js/vendor/bootstrap/tab.js"></script>
<script src="/js/vendor/bootstrap/tooltip.js"></script>
<script src="/js/vendor/bootstrap/transition.js"></script>

</body>
</html>